@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);





html, body {
	background-color: rgba(0, 0, 0, 0);
	margin: 0px;
	overflow: hidden;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: "Arimo";*/
	font-size: xx-large; font-style: normal; font-variant: normal; font-weight: 700;

  height: 100%;
  line-height: normal;
}


#infoDiv {
	color: red;
	font-size: 0.6em;
	padding: 10px;
	max-height: 20em;
	overflow: auto;
	display: none;
}

#optionsDiv {
	font-size: 0.6em;
	display: none;
	padding: 10px;
}

.JrYtOuterDiv {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}


.JrYtOuterDivSolo {
	position:absolute;
	bottom:0px;
	width:100%;
}


.JrYtInnerDiv {
	padding: 20px;
	font-size:2em;
}

.JrYtInnerDivFlex {
	padding: 10px;
	width:100%;
}




.jrYtMainDiv {
	border: 3px solid #BCC6CCAA;
	box-shadow: 3px 4px #111111AA;
	padding: 20px;
	background-color: #2B547EF5;
	border-radius: 25px;
	min-height: 160px;
  display: grid;
  cursor: pointer;
  caret-color: transparent;
}


#jrYtInteriorAltDiv1 {
  grid-column: 1;
  grid-row: 1;
	animation: fadeInJrYt 0.5s;
}

#jrYtInteriorAltDiv2 {
  grid-column: 1;
  grid-row: 1;
	animation: fadeInJrYt 0.5s;
}



.jrYtAuthorName {
  color: #C11B17;
	font-weight: bolder;
	/*font-size: 110%;*/
	font-size: 1em;
	display: block;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	padding-bottom: 5px;
	padding-top: 0px;
}


img.jrYtUserImage {
  float: left;
  padding: 4px;
  padding-right:20px;
  border-radius: 8px;
	width: 150px;
	max-width: 150px;
	max-height: 150px;
	filter: drop-shadow(3px 3px 4px black); 
}

.jrYtMessage {
	/*overflow: visible;*/
}

.jrYtMessage p {
overflow:hidden;
line-height: normal;
line-height: 1.1;
}

img.jrYtEmoticon {
	max-width: 48px;
	max-height: 48px;
	vertical-align: top;
}

#versionInfo {
	padding:5px;
	font-weight: bold;
}

@keyframes fadeInJrYt {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.msgLen1 {
	font-size: 1em;
	font-weight: 700;
}
.msgLen2 {
	font-size: 0.75em;
	font-weight: 600;
}
.msgLen3 {
	font-size: 0.65em;
	font-weight: 500;
}
































.JrYtPage {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100%;
}

.JrYtPageMain {
 display: flex;
 flex-grow: 1;
 flex-basis: auto;
 flex-shrink: 1;
 margin-top: auto;
 overflow-y:auto;
}

.JrYtPageFooter {
 display: flex;
 flex-grow: 0;
 flex-basis: content;
 flex-shrink: 0;
 width: 100%;
}



.JrYtMessageListUl {
	overflow-y:auto;
  border: 1px dotted black;
  padding: 2px;
  margin: 2px;
	list-style: none;
	width:100%;
}



.JrYtMessageList li {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
	background-color: #b5cde6FF;
  cursor: pointer;
  caret-color: transparent;
  font-size: 0.6em;
}

.JrYtMessageList li {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
	background-color: #b5cde6FF;
  cursor: pointer;
  caret-color: transparent;
}


.JrYtMessageList li.jrytInfo  {
	font-size: 0.25em;
	background-color: #00000000;
}

.JrYtMessageList li.jrSelected {
	background-color: #FFcde6FF;
}







.imgClearing {
	 clear: both;
}






.JrYtMessageList li img.jrYtUserImage {
	width: 75px;
}


.JrYtMessageList .jrYtAuthorName {
	padding-bottom: 0px;
}


p {
	overflow: hidden;
	padding:0px;
	margin:0px;
}










.JrYtButtonBar, .JrYtButtonBarRight {
	margin:auto;
	padding: 2px;
	font-size: 0.5em;
	line-height: 100%;

	border-radius: 2px;
	padding-bottom:10px;
}




.JrYtButton {
	padding:5px;
	padding-left:10px;
	padding-right:10px;
  
  padding-left:0.75em;
	padding-right:0.75em;
  
  cursor: pointer;
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
  margin-left: 2px;
  margin-right: 2px;
}

.JrYtButtonImg {
	float:left;
	margin-right:0.5em;
	width: 32px;
}



.JrYtButtonBarRight {
	padding-top:5px;
}

.JrYtButtonBarRight .JrYtButton {
	float: right;
}
