html { visibility:hidden;
	 }

.parentbox {
  transform: scale(2);
  transform-origin: top;
  /* fix for scale(2) messing up margins */
	margin-left: 25%;
	margin-right: 25%;
}


.flipdown .rotor-group-heading:before {
  height: 10px;
  position: relative;
  bottom:-90px;
}

.hideme {
	display: none;
}

#headerTextParent {
	background-color: #FF7A78;
}

#headerText {
  font-family: 'arial black', sans-serif;
  font-size: 4.9em;
  font-weight: 700;
  padding-top: 5px;
  padding-left:30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
}

#bottomHeaderContainer {
	position: absolute;
	top: 604px;
  background-color: #FF7A78;
  width: 100%;
}

#bottomHeader {
  font-family: 'arial black', sans-serif;
  font-weight: 700;

  padding-left:424px;
  margin-bottom: 0px;
  padding-bottom: 45px;
  padding-top: 25px;

  color: white;
}






.bottom1, .bottom2 {
	padding: 0;
	margin: 0;
	line-height: 80%;

}

.bottom1 {
  letter-spacing: 0.055em;
  font-size: 6.8em;
}

.bottom2 {
  font-size: 9.1em;
}


.bottomImage {
  position: absolute;
  z-index: 2;
  width: 420px;
	margin-left: -53px;
	margin-top: -85px;
}






#tertiaryContainer {
 
  margin-top: 40px;
}






#flipContainter {
  margin-top: 16px;
}

html {
  ZZheight: 100%;
}

body {
  margin: 0px;
  margin-top: 0px;
  overflow: hidden;
	/*
	ATTN: now we start with transparent background color by default so obs doesnt flash
	background-color: #ffedb4;
	*/
	background-color: #b4f268;
}

body,

.example h1,
.example h2,
.example h3,
.example p,
.example .button {
  <!--
  THIS WAS CAUSING VISIBLE FONT SIZE CHANGES ETC
   transition: all .2s ease-in-out; -->
}

body.light-theme {
  background-color: #151515;
}

body.light-theme .example h1 {
  color: #FFFFFF;
}
body.light-theme .example h2 {
  color: #FFFFFF;
}

body.light-theme .example p {
  color: #FFFFFF;
}

body.light-theme .buttons .button {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body.light-theme .buttons .button:hover {
  color: #151515;
  background-color: #FFFFFF;
}


.backgroundImage_OLD {
	background-image: url("../background.png");
	height: 1080px;
	background-size: 1920px 1080px;
	background-position: "left top";
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.backgroundImage img {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: auto;
}

#globalError {
  font-family: 'arial black', sans-serif;
	font-weight: 1000;
  font-size: 2.0em;
}



.example {
  font-family: 'Roboto', sans-serif;
  /*width: 550px;*/
  /*height: 378px;*/
  margin: auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 100%;*/
}



.example .ZZZZflipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 2.8em;
  margin-top: 0px;
  margin-bottom: -10px;
  padding-top: 5px;
  padding-bottom: 0px;
  line-height: 95%;
}

.example h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2.4em;
  margin-top: 0;
  margin-bottom: -10px;
  padding-top:20px;
  padding-bottom:-10px;
}

.example h3 {
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px;
}


.example p {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
}


#flipContainter {
  display: flex;
  justify-content: left;
}




.example h1,
.example h2,
.example h3
 {
  -webkit-text-stroke: 1px white;
  color: #84ced4;
  text-shadow:
       0px 0px 0 #000;
}

.example h3 {
	color: #000000;
}







#fullPageVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
	display: none;
}





.rotor-group-heading {
   text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}


#flipdown_done {
	 -webkit-text-stroke: 1px white;
	 text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
	 font-size: 3rem;
	 padding-top: 0.5em;
}




#flipdown {
}